/* feuille de style pour le deuxième zoning  */

body {
    background: linear-gradient(to right, #f1fff1, white);
    font-size: 25px;
    color: white;
}

#contenu {
    width: 80%;
    border: 5px solid white;
    margin: 0 auto;
}

header {
    background-color: #ece7d8;
    height: 100px;
}

nav  {
    background-color: #c9c1cc;
    height: 50px;
}

section {
    height: 500px;
    background-color: #f4f4f4;
}

footer {
    background-color: #c9c1cc;
    height: 100px;
}

.clear {
    clear :both;
}

.a, .b, .c, .d {
    width: 50%;
    height: 250px;
    float: left;
}

.a {
    background-color: #6c85af;
}

.b {
    background-color: #8b6fa1;
}

.c {
    background-color: #7ab4a8;
}

.d {
    background-color: #a37575;
}