/* feuille de style pour la page display */

body {
    background-color: #f2eee5;
}

.encadre {
    border: 1px solid brown;
    padding: 2px;
}

/* :hover c'est une pseudo class au survol de la souris */
a:hover {
    background-color: brown;
    color: white;
}

/* avec cette class je peux modifier l'affichage normal de la balise de type inline à laquelle j'affecte cette class et qui devient de type block */
.block {
    display: block;
}

/* avec cette class je peux faire l'inverse : modifier une balise de type block qui devient de type inline */
.inline {
    display: inline;
}