/* feuille de style de la page cubitus 02 */

body {
    background-color: #eeeaf3;
}

.c1, .c2, .c3, .c4, .c5, .empty {
    width: 130px;
    height: 130px;
    margin: 3px;
    border: 2px solid black;
    float: left;
    text-align: center;
}

.c4, .c5 {
    border-radius: 20% 40% 20% 40%;
}

.c1 {
    background-color: #0c9463;  
    border-radius: 10% 20% 30% 40%;
}

.c2 {
    background-color: #9aceff;
    border-radius: 40% 0% 40% 0%;
}

.c3 {
    background-color: #a3f7bf;
    border-radius: 50%;
}

.c4 {
    background-color: #9883b6;
}

.c5 {
    background-color: #af1010;
}

.empty {
    background-color: #eeeaf3;
    border: none;
    empty-cells: show;
}

.clear {
    clear: both;
}